# OS
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp

# Logs
*.log

# Docker (volumes/données locales éventuelles)
*.env
.env

# Gatling / Maven (artefacts de build et rapports générés)
tests/gatling/target/
tests/gatling/.m2/
results/
